{% extends "cafe/layout.html" %}
{% load staticfiles %}

{% block content %}
    <meta property="fb:pages" content="1641311652800771" />
    <meta name="google-site-verification" content="5yOe6b_e_3rr7vNDwgXJw_8wLZQGx4lJ_V48KNPrqkA" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" media="all" href="/inc/www/css/default.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/inc/www/css/content.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="//static.criteo.net/js/ld/publishertag.js"></script>
    <link rel="stylesheet" href="/inc/ext/jqueryui/jquery-ui.css" />
    <script type="text/javascript" src="/inc/ext/jqueryui/jquery-ui.js"></script>
    <script src="/inc/ext/placeholder/jquery.placeholder.js"></script>
    <script src="/inc/www/js/common.js"></script>
    <script src="/inc/www/js/search.js"></script>
    <style>
        ul{
           list-style:none;
           padding-left:0px;
           margin:0;
        }
        #room_review_list {
            margin: 1 1 1 1;
            padding: 2 2 2 2;
            border : 1;
            float: left;
        }
        .sidebar-box {
          max-height: 30px;
          max-width : 20%;
        }

    </style>
    <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript"> if(!wcs_add) var wcs_add = {}; wcs_add["wa"] = "13cb4df462cbbf0"; wcs_do(); </script>
    <meta name="naver-site-verification" content="ed2b6971b315235f61397574dff7222c7677a718"/>
    <script src="/inc/ext/raty/jquery.raty.js"></script>
    <script src="/inc/www/js/movie.nzreview.js"></script>

    <script>
    $(function(){
        $('.mov_star_li')
            .mouseover(function(){
                $(this).find('.over').show();
            })
            .mouseout(function(){
                $(this).find('.over').hide();
            });
    });
    </script>

    <h2 style="text-align: center;" id="dragoon"><strong>{{user.username}}님의 페이지</strong></h2>
    <br><h4 style="text-align: center;">마이 페이지에서 회원님의 리뷰와 선호하시는 방을 확인하실 수 있습니다</h4>
    <hr>

    <!--style>
        table, th, td { border:1px solid black; }
    </style-->



    <table style="height:1000px;">
        <tr>
            <td style="width:700px; height:50px;">
                <h3 style="margin-left: 10px; text-align: center;">내가 쓴 리뷰</h3>
            </td>
            <td>
                <h3 style="margin-left: 10px; text-align: center;">이 방이 좋았어요!</h3>
            </td>
        </tr>

        <tr>
            <td style="width:700px; margin-left: 10px; vertical-align: top; padding-left: 5px;">
                    {% if user.review_user.all %}
                        {% for review in user.review_user.all %}
                            <div id="room_review_list" style="padding-left: 15px;">
                                <h4>{{review.room.name}}</h4>
                                <a href="{% url "cafe:room_detail" review.room.pk %}" >
                                    <img src="{{ review.room.image.url }}" style="width: 190px;  padding-bottom: 10px;" alt="" class="thumb" /></a>
                                    <textarea style="width:400px; height: 140px; margin-left: 10px;">{{review.content}}</textarea>
                                    <a href="{% url 'cafe:review_edit' review.room.pk review.pk %}" class="btn btn_review_write">
                                <button class="btn btn-default btn-xs">수정</button></a>

                                <p>{{review.room.room_like_set.all.count}} likes</p>

                            </div>
                            &nbsp;
                        {% endfor %}
                    {% endif %}
            </td>

            <td style="width:250px; vertical-align: top; text-align: center; padding-top: 10px;">
                    {% if user.like_user_set.all %}
                        {% for like in user.like_user_set.all %}
                            <div>
                                <h5><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;{{like.room.name}}</h5>
                                <a href="{% url "cafe:room_detail" like.room.pk %}" >
                                    <img src="{{ like.room.image.url }}" style="width: 190px; padding-bottom: 10px;" alt="" class="thumb" />
                                </a>
                                <!--{{like.room.room_like_set.all.count}}likes-->
                                <br>
                            </div>
                       {% endfor %}
                    {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}