{% extends "cafe/layout.html" %}
{% load staticfiles %}

{% block content %}
    <meta property="fb:pages" content="1641311652800771" />
    <meta name="google-site-verification" content="5yOe6b_e_3rr7vNDwgXJw_8wLZQGx4lJ_V48KNPrqkA" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" media="all" href="/inc/www/css/default.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/inc/www/css/content.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="//static.criteo.net/js/ld/publishertag.js"></script>
    <link rel="stylesheet" href="/inc/ext/jqueryui/jquery-ui.css" />
    <script type="text/javascript" src="/inc/ext/jqueryui/jquery-ui.js"></script>
    <script src="/inc/ext/placeholder/jquery.placeholder.js"></script>
    <script src="/inc/www/js/common.js"></script>
    <script src="/inc/www/js/search.js"></script>
    <style>
        ul{
           list-style:none;
           padding-left:0px;
           margin:0;
        }
        #room_review_list {
            margin: 1 1 1 1;
            padding: 2 2 2 2;
            border : 0;
            float: left;
        }
        .sidebar-box {
          max-height: 30px;
          max-width : 20%;

        }

    </style>
    <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript"> if(!wcs_add) var wcs_add = {}; wcs_add["wa"] = "13cb4df462cbbf0"; wcs_do(); </script>
    <meta name="naver-site-verification" content="ed2b6971b315235f61397574dff7222c7677a718"/>
    <script src="/inc/ext/raty/jquery.raty.js"></script>
    <script src="/inc/www/js/movie.nzreview.js"></script>

    <script>
    $(function(){
        $('.mov_star_li')
            .mouseover(function(){
                $(this).find('.over').show();
            })
            .mouseout(function(){
                $(this).find('.over').hide();
            });
    });
    </script>

    <h2>{{user.username}}</h2>
    <hr>

<style>
table, th, td { border:1px solid black; }
</style>

<table style="height:1000px;">
<tr>
<td style="width:1000px;">
        {% if user.review_user.all %}
        <div id="content" class="movie mov_star">
            {% for review in user.review_user.all %}
                <li id="room_review_list" class="mov_star_li">
                    {{review.room.name}}
                    <br>
                    <a href="{% url "cafe:room_detail" review.room.pk %}" >
                        <img src="{% static 'image/test/a.jpg' %}" alt="" class="thumb" />
                    </a>
                    <p>{{review.room.room_like_set.all.count}}likes</p>
                    <a href="{% url 'cafe:review_edit' review.room.pk review.pk %}" class="btn btn_review_write"><button class="btn btn-default" style="height: 20px; padding-top: 0;">수정</button></a><br>
                        <textarea rows="4" cols="30">{{review.content}}</textarea>
                </li>
           {% endfor %}

        </div>
        {% endif %}
</td>

<td style="width:200px;">
    <h3>좋아요</h3>
    <div id="container">
        {% if user.like_user_set.all %}
        <div id="content" class="movie mov_star">
            {% for like in user.like_user_set.all %}
                <li id="room_review_list" class="mov_star_li" data-movie-id="49866">
                    <p class="name" >{{like.room.name}}</p>
                    <a href="{% url "cafe:room_detail" like.room.pk %}" >
                        <img src="{% static 'image/test/a.jpg' %}" alt="" class="thumb" />
                    </a>
                    <li>{{like.room.room_like_set.all.count}}likes</li>
                </li>
           {% endfor %}
        </div>
        {% endif %}
    </div>
</td>
</tr>
</table>
{% endblock %}