{% extends "cafe/layout.html" %}

{% load staticfiles %}
{% block carousel %}
    <!-- Header Carousel-->
        <header id="myCarousel" class="carousel slide" data-ride="carousel" style="height:45%;">

            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
              <div class="item active">
                  <div class="fill" style="background-image:url({% static 'image/main1.jpg' %});"></div>
                  <div class="carousel-caption" style="margin-bottom: 90px;">
                      <span id="dragoon" style="font-size: 500%;">&nbsp;&nbsp;&nbsp;WHO IS SHERLOCK?</span>
                    </div>
              </div>
            <div class="item">
                <div class="fill" style="background-image:url({% static 'image/main2.jpg' %});"></div>
                <div class="carousel-caption">
                    <h1 style="font-size: 260%;">후 이즈 셜록은 질이 다른 방탈출 카페의 정보를 제공합니다.</h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url({% static 'image/main3.jpg' %});"></div>
                <div class="carousel-caption">
                    <h1 style="font-size: 260%;">제한시간 안에 두뇌게임에서 승리하여 탈출해보세요!</h1>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="icon-next"></span>
        </a>
      </header>
    <!--Header-->

{% endblock%}

{% block content %}
<style>
    .column_name, .column_elem{
        text-decoration: dotted;
        text-align: center;
        vertical-align: middle;
    }
    .column_name{
        font-family: sans-serif;
        font-size : 25px;
    }
    .column_elem{
        font-weight: bold;
        font-family: sans-serif;
        font-size : 15px;
    }
</style>
        <form method="POST" action="#search">
        {% csrf_token %}
            <div class="container" style="margin-left:170px;">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color:#5bc0de;">
                            <h4 style="color:white;" ><center>주변 지하철역</center></h4>
                        </div>
                        <div class="panel-body">
                            <table width=450 height=190>
                            <tr>
                                <td><label for="1"><input type="checkbox" name="station" value="1" id="1">강남역</label></td>
                                <td><label for="2"><input type="checkbox" name="station" value="8" id="2">성신여대입구역</label></td>
                                <td><label for="3"><input type="checkbox" name="station" value="15" id="3">영등포역</label></td>
                            </tr>
                            <tr>
                                <td><label for="4"><input type="checkbox" name="station" value="2" id="4">건대입구역</label></td>
                                <td><label for="5"><input type="checkbox" name="station" value="9" id="5">신논현역</label></td>
                                <td><label for="6"><input type="checkbox" name="station" value="16" id="6">이태원역</label></td>
                            </tr>
                            <tr>
                                <td><label for="7"><input type="checkbox" name="station" value="3" id="7">구로디지털단지역</label></td>
                                <td><label for="8"><input type="checkbox" name="station" value="10" id="8">신림역</label></td>
                                <td><label for="9"><input type="checkbox" name="station" value="17" id="9">잠실새내역</label></td>
                            </tr>
                            <tr>
                                <td><label for="10"><input type="checkbox" name="station" value="4" id="10">노원역</label></td>
                                <td><label for="11"><input type="checkbox" name="station" value="11" id="11">신사역</label></td>
                                <td><label for="12"><input type="checkbox" name="station" value="18" id="12">종각역</label></td>
                            </tr>
                            <tr>
                                <td><label for="13"><input type="checkbox" name="station" value="5" id="13">명동역</label></td>
                                <td><label for="14"><input type="checkbox" name="station" value="12" id="14">신촌역</label></td>
                                <td><label for="15"><input type="checkbox" name="station" value="19" id="15">합정역</label></td>
                            </tr>
                            <tr>
                                <td><label for="16"><input type="checkbox" name="station" value="6" id="16">목동역</label></td>
                                <td><label for="17"><input type="checkbox" name="station" value="13" id="17">압구정로데오역</label></td>
                                <td><label for="18"><input type="checkbox" name="station" value="20" id="18">혜화역</label></td>
                            </tr>
                            <tr>
                                <td><label for="19"><input type="checkbox" name="station" value="7" id="19">상수역</label></td>
                                <td><label for="20"><input type="checkbox" name="station" value="14" id="20">어린이대공원역</label></td>
                                <td><label for="21"><input type="checkbox" name="station" value="21" id="21">홍대입구역</label></td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color:#5bc0de;">
                            <h4 style="color:white;"><center>탈출 성공률</center></h4>
                        </div>
                        <div class="panel-body">
                        <table width=200 height=190>
                            <tr>
                                <td><label for="22"><input type="checkbox" name="level" value="1" id="22">10%미만</label></td>
                            </tr>
                            <tr>
                                <td><label for="23"><input type="checkbox" name="level" value="2" id="23">10%~20%</label></td>
                            </tr>
                            <tr>
                                <td><label for="24"><input type="checkbox" name="level" value="3" id="24">20%~30%</label></td>
                            </tr>
                            <tr>
                                <td><label for="25"><input type="checkbox" name="level" value="4" id="25">30%~40%</label></td>
                            </tr>
                            <tr>
                                <td><label for="26"><input type="checkbox" name="level" value="5" id="26">40%~50%</label></td>
                            </tr>
                            <tr>
                                <td><label for="27"><input type="checkbox" name="level" value="6" id="27">50%이상</label></td>
                            </tr>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-info btn-block" style="width:730px; height:60px; margin-left:200px;" value="Search" />
        </form>


        <!-- 검색결과 화면 -->
        {% if stations or levels %}
        <section id="search">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
                </div>
            </div>

        <div class="row" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class='column_name'><B>카페이름</B></td>
                        <td class='column_name'><B>방이름</B></td>
                        <td class='column_name'><B>난이도</B></td>
                        <td class='column_name'><B>주소</B></td>
                        <td class='column_name'><B>전화번호</B></td>
                        <td class='column_name'><B>홈페이지</B></td>
                        <td class='column_name'><B>MORE!</B></td>
                    </tr>
                </thead>

                <tbody>
                {% for room in room_list %}
                <tr>
                    <td class='column_elem'><a href="{% url "cafe:room_detail" room.pk %}">{{room.cafe.name}}</a></td>
                    <td class='column_elem'>{{ room.name }}</td>
                    <td class='column_elem'>
                        {% if room.level == 1 %}
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                        {% elif room.level == 2 %}
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                        {% elif room.level == 3 %}
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                        {% elif room.level == 4 %}
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                        {% elif room.level == 5 %}
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                        {% elif room.level == 6 %}
                            <img src="{% static 'image/star.png' %}" width="20" height="20">
                        {% endif %}
                    </td>
                    <td class='column_elem'>{{room.cafe.address}}</td>
                    <td class='column_elem'>{{room.cafe.phone}}</td>
                    <td class='column_elem'><a href ="http://{{room.cafe.url}}" , target="_blank" >{{room.cafe.url}}</a></td>
                    <td class='column_elem'><a class="btn btn-primary" href="{% url "cafe:room_detail" room.pk %}">더 보기<i class="fa fa-angle-right"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </section>
        <!-- /.row -->

        <!-- Pager >
        <div class="pagination">
            <ul class="pager">
                {% if room_list.has_previous %}
                <li class="previous"><a href="?{{page_request_var}}={{room_list.previous_page_number}}">&larr; Previous</a></li>
                {% endif %}
                <span class="current">
                  Page{{room_list.number}} of {{room_list.paginator.num_pages}}
                </span>
                {% if room_list.has_next%}
                <li class="next"><a href="?{{page_request_var}}={{room_list.next_page_number}}">Next &rarr;</a></li>
                {% endif %}
            </ul>
        </div>
        -->
        {% endif %}

{% endblock %}
