{% extends "cafe/layout.html" %}
{% load staticfiles %}
{% block content %}

         <form method="GET" action="/cafe/room_list/">
            <div class="container">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <h4><i class="fa fa-fw fa-check"></i><center>주변 지하철역</center></h4>
                        </div>
                        <div class="panel-body">
                            <table width=300 height=130>
                            <tr>
                                <td><input type="checkbox" name="station" value="1">강남역</td>
                                <td><input type="checkbox" name="station" value="6">신림역</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="station" value="2">건대입구역</td>
                                <td><input type="checkbox" name="station" value="7">신촌역</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="station" value="3">노원역</td>
                                <td><input type="checkbox" name="station" value="8">합정역</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="station" value="4">명동역</td>
                                <td><input type="checkbox" name="station" value="9">혜화역</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="station" value="5">신논현역</td>
                                <td><input type="checkbox" name="station" value="10">홍대입구역</td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw fa-gift"></i><center>탈출성공확률</center></h4>
                        </div>
                        <div class="panel-body">
                        <table width=300 height=130>
                            <tr>
                                <td><input type="checkbox" name="level" value="1">10%미만</td>
                                <td><input type="checkbox" name="level" value="2">10%~20%</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="level" value="3">20%~30%</td>
                                <td><input type="checkbox" name="level" value="4">30%~40%</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="level" value="5">40%~50%</td>
                                <td><input type="checkbox" name="level" value="6">50%이상</td>
                            </tr>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                         <div class="panel-body"></div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <input type="submit" value="Search" />
            </div>
        </form>

{% endblock %}