{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=hSsPPASzl7lJUQvKDThR"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=hSsPPASzl7lJUQvKDThR&submodules=geocoder"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=hSsPPASzl7lJUQvKDThR"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=hSsPPASzl7lJUQvKDThR&submodules=geocoder"></script>


    <title>Who is Sherlock</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "bootstrap/css/modern-business.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "bootstrap/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .container .row {
            padding-top: 50px;
        }
        .container .page-header{
            text-align: center
        }
        .container .col-md-4 {
            padding-top: 30px;
        }
        .top{
        position: fixed;
        bottom:20px;
        right:30px;
        width:48px;
        height:48px;
        }
        #dragoon{
            font-family: 'Jeju Myeongjo', serif;
            src: url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
        }
        .carousel-caption {
            margin-bottom: 100px;
        }
        .width-restricted-story{
            display: inline-block;
            width:300px;
        }
    </style>
</head>

<body>
<!--top으로 이동-->
    <div class="top" />
        <img src="{% static 'image/up.png' %}" alt="scroll" width="40" height="40">
    </div>

<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'cafe:index' %}">Who is Sherlock?</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'cafe:index' %}">Home</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'signup' %}">회원가입</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}?next={{request.path}}">Login</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'profile' user.pk %}">My Page</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}?next=/cafe/">로그아웃</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% block carousel%}
{% endblock %}


    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">

        {% block content %}
        {% endblock %}

        </div>

    <hr>


    <!-- Footer -->
    <footer>
        <div class="row", style="text-decoration:blink; text-align: center">
            <div class="col-lg-12">
                <p>Copyright &copy; Who is Sherlock? 2017</p>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src= '{% static "bootstrap/js/jquery.js" %}'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src= '{% static "bootstrap/js/bootstrap.min.js" %}'></script>

    <!-- Script to Activate the Carousel -->
    <script language="javascript">
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#myModal").modal();
        });
    });

    </script>

    <!--top로 이동-->
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script>
        $(document).ready(function(){
            var $body = $(document.body), //자주 사용하기에 캐시되게 변수에 넣어준다
            $top = '';

            $top=$('<div>') //div 를 만들고
            .addClass('top') //top className을 주고
            .hide() //처음에는 숨겨둔다
            .click(function(){  // 클릭이 이벤트 할당
                $body.animate({ scrollTop: 0 }); //animation효과로 scollTop=0으로 이동
            })
            .appendTo($body); // body에 top을 넣는다

        //윈도우의 스크롤위치로 위로가기 버튼을 보여줘야기에 핸들러 작성
        $(window).scroll(function(){
            var y = $(this).scrollTop();

            if(y >= 0){
                $top.fadeIn();
            }
            else {
                $top.fadeOut();
            }
            });
        });
    </script>

</body>

</html>
