{% extends 'cafe/layout.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Page Content -->

        <div class="container">
            <div class="col-lg-12">
                <center><h1>{{ room.name }}</h1></center>
                <p align="right"><h7>조회수: {{ room.click }}</h7></p>
                <hr/>
            </div>
        </div>
        <!-- /.row -->
        <!-- Blog Post Row -->
        <div class="container">
        <!--style>
            table, th, td { border:1px solid black; }
        </style-->

            <table style="width:900px; height:1000px; margin: auto">
                <tr>
                    <td rowspan="2" style="width:500px; height:300px;">
                        <!--img src="{% static 'image/star.png' %}"-->

                    {% if room.image %}
                            <center><img class="img-responsive img-hover" src="{{ room.image.url }}" style="width:300px;" alt=""></center>
                    {% endif %}

                    </td>

                    <td style="width:500px; height:40px;">
                        <h3 style="margin-left: 20px;">STORY &nbsp;
                            <a class="btn btn-info " href="http://{{room.cafe.url}}" target = "_blank">홈페이지 예약&nbsp;<i class="fa fa-angle-right"></i></a>
                            <a class="btn btn-info" href="tel:{{ room.cafe.phone }}" target = "_blank">전화 예약<i class="fa fa-angle-right"></i></a>
                        </h3>

                    </td>
                </tr>

                <tr>
                    <td style="width:500px; height:100px; vertical-align: top;">
                        <h7 style="margin-left:20px;">&nbsp;&nbsp;&nbsp;{{room.story | linebreaks}}</h>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><div id="map" style="width:900px;height:350px;margin:auto; margin-top: 20px;"></div><!--지도--></td>

                </tr>

                <tr>
                    <td colspan="2">
                    <br>
                        <p style="text-align: center;" class="heart">
                            <a href="{% url 'cafe:like' room.pk %}"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <p style="text-align: center;">
                                {{number_of_likes}}명이 좋아합니다.<br>
                                {% if user_likes_this %}
                                    You too!
                                {% else %}
                                    Not me
                                {% endif %}
                            </p>
                        </p>
                    </td>
                </tr>
                <!-- 댓글 작성 -->
                <tr>
                    <td colspan="2">
                        <form action="{% url 'cafe:review_new' room.pk %}" method="post">
                            {% csrf_token %}
                            <div class="col-md-10">
                                <table class="table table-bordered table-hover">
                                    {{ review_form.content }}
                                </table>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-primary btn-block" value="댓글 쓰기"/>
                            </div>
                        </form>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <ul>
                            {% for review in room.cafe_review_set.all %}
                            <li>
                                {{ review.user }} : &nbsp; <small>{{ review.content }}</small>&nbsp;&nbsp;&nbsp;

                                {% if review.user == request.user %}
                                <span style="position: right; ">
                                        <a href = "{% url 'cafe:review_edit' room.pk review.pk %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        <a href = "{% url 'cafe:review_delete' room.pk review.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </span>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
            <script>
            var cafe_address = "{{ room.cafe.address }}";
            var map = new naver.maps.Map('map', {
                center: new naver.maps.LatLng(37.3595704, 127.105399),
                zoom: 11
            });

            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(37.3595704, 127.105399),
                map: map
            });

            // result by latlng coordinate
            function searchAddressToCoordinate(address) {
                naver.maps.Service.geocode({
                    address: address
                }, function(status, response) {
                    if (status === naver.maps.Service.Status.ERROR) {
                        return alert('Something Wrong!');
                    }

                    var item = response.result.items[0],
                        addrType = item.isRoadAddress ? '[도로명 주소]' : '[지번 주소]',
                        point = new naver.maps.Point(item.point.x, item.point.y);

                    map.setCenter(point);
                    marker.setPosition(point);
                });
            }

            naver.maps.onJSContentLoaded = searchAddressToCoordinate(cafe_address);
            </script>
        </div>
        <!-- /.row -->

{% endblock %}