{% extends 'cafe/layout.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Page Content -->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ room.name }}</h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center"></div>
            <div class="col-md-5" >
            {% if room.image %}
                    <img class="img-responsive img-hover" src="{{ room.image.url }}" alt="">
            {% endif %}
            </div>

            <div class="col-md-6">
                <h3>
                    {{ room.name }} 스토리
                </h3>
                <p>
                    {{ room.story }}
                </p>
                <a class="btn btn-primary" href="http://{{room.cafe.url}}" >예약하러가기<i class="fa fa-angle-right"></i></a>
                <p></p>
            </div>

            <div id="map" style="width:600px;height:300px;margin:auto;"></div>
            <script>
            var cafe_address = "{{ room.cafe.address }}";
            var map = new naver.maps.Map('map', {
                center: new naver.maps.LatLng(37.3595704, 127.105399),
                zoom: 11
            });

            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(37.3595704, 127.105399),
                map: map
            });

            // result by latlng coordinate
            function searchAddressToCoordinate(address) {
                naver.maps.Service.geocode({
                    address: address
                }, function(status, response) {
                    if (status === naver.maps.Service.Status.ERROR) {
                        return alert('Something Wrong!');
                    }

                    var item = response.result.items[0],
                        addrType = item.isRoadAddress ? '[도로명 주소]' : '[지번 주소]',
                        point = new naver.maps.Point(item.point.x, item.point.y);

                    map.setCenter(point);
                    marker.setPosition(point);
                });
            }

            naver.maps.onJSContentLoaded = searchAddressToCoordinate(cafe_address);
            </script>
        </div>
        <!-- /.row -->


<!-- 댓글 작성 -->
<form action="{% url 'cafe:review_new' room.pk %}" method="post">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
        {{ review_form.content }}
    </table>
    <input type="submit" class="btn btn-primary btn-block" value="댓글 쓰기"/>
</form>


<ul>
    {% for review in room.cafe_review_set.all %}
    <li>
        <p><blod><small> 작성자 : {{ review.user }}</small></blod></p>
        <p>{{ review.content }}
            {% if review.user == request.user %}
            <a href = "{% url 'cafe:review_edit' room.pk review.pk %}" > Edit </a>
            <a href = "{% url 'cafe:review_delete' room.pk review.pk %}" > 삭제 </a> </p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}