{% extends 'cafe/layout.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Page Content -->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ room.name }}</h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Blog Post Row -->
        <div class="row">
            <div class="col-md-1 text-center"></div>
            <div class="col-md-5" >
            {% if room.image %}
                    <img class="img-responsive img-hover" src="{{ room.image.url }}" alt="">
            {% endif %}
            </div>

            <div class="col-md-6">
                <h3>
                    {{ room.name }} 스토리
                </h3>
                <p>
                    {{ room.story }}
                </p>
                <a class="btn btn-primary" href="http://{{room.cafe.url}}" target = "_blank">예약하러가기<i class="fa fa-angle-right"></i></a>
                <p></p>
            </div>

            <div id="map" style="width:600px;height:300px;margin:auto;"></div>
            <script>
            var cafe_address = "{{ room.cafe.address }}";
            var map = new naver.maps.Map('map', {
                center: new naver.maps.LatLng(37.3595704, 127.105399),
                zoom: 11
            });

            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(37.3595704, 127.105399),
                map: map
            });

            // result by latlng coordinate
            function searchAddressToCoordinate(address) {
                naver.maps.Service.geocode({
                    address: address
                }, function(status, response) {
                    if (status === naver.maps.Service.Status.ERROR) {
                        return alert('Something Wrong!');
                    }

                    var item = response.result.items[0],
                        addrType = item.isRoadAddress ? '[도로명 주소]' : '[지번 주소]',
                        point = new naver.maps.Point(item.point.x, item.point.y);

                    map.setCenter(point);
                    marker.setPosition(point);
                });
            }

            naver.maps.onJSContentLoaded = searchAddressToCoordinate(cafe_address);
            </script>
        </div>
        <!-- /.row -->
<!-- 댓글 작성 -->

<hr/>
<!--하트 주기
<style>
    .heart {font-size:0; letter-spacing:-4px;}
    .heart a {
        font-size:22px;
        letter-spacing:0;
        display:inline-block;
        margin-left:5px;
        color:#ccc;
        text-decoration:none; }
    .heart a:first-child {margin-left:0;}
    .heart a.on {color:#777;}
</style>
<script>
$( document ).ready(function() {
    $( ".heart a" ).click(function() {
        $(this).addClass("on");
        return false;
    });
});
</script>
-->
<p style="text-align: center;" class="heart">
    <a href="{% url 'cafe:like' room.pk %}"><i class="fa fa-heart" aria-hidden="true"></i></a>
    <p style="text-align: center;">{{number_of_likes}}명이 좋아합니다.<br>
    {% if user.id == None %}
        LOGIN for like!
    {% else %}
        {% if user_likes_this %}
            You too!
        {% else %}
            Not me
        {% endif %}
    {% endif %}
    </p>
</p>

<!--
<button class="btn btn-default" style="width: 100px; background-color: white; color:red; font-size:20px;">
-->
<div class="comment" style="text-align: center;">
<form action="{% url 'cafe:review_new' room.pk %}" method="post">
    {% csrf_token %}
    {{ review_form.content }}<input type="submit" class="btn btn-primary btn-lg" value="댓글 쓰기"/>
</form>
</div>

<ul>
    {% for review in room.cafe_review_set.all %}
    <li>
        <p><blod><small> 작성자 : {{ review.user }}</small></blod></p>
        <p>{{ review.content }}
            {% if review.user == request.user %}
            <a href = "{% url 'cafe:review_edit' room.pk review.pk %}" > Edit </a>
            <a href = "{% url 'cafe:review_delete' room.pk review.pk %}" > 삭제 </a> </p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}